<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jcu.cs470.togenda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.jcu.cs470.togenda.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.jcu.cs470.togenda.AgendaActivity"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name="edu.jcu.cs470.togenda.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="edu.jcu.cs470.togenda.MainActivity"
            android:theme="@style/AppSubTheme" >
        </activity>
        <activity
            android:name="edu.jcu.cs470.togenda.AgendaFragment"
            android:label="@string/title_activity_agenda_fragment" >
        </activity>
        <activity
            android:name="edu.jcu.cs470.togenda.BasicActivity"
            android:label="@string/title_activity_basic" >
        </activity>
        <activity
            android:name="edu.jcu.cs470.togenda.ToDo"
            android:label="@string/title_activity_to_do" >
        </activity>
    </application>

</manifest>
